body {
  background-color: #888;
  color: #8d8;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.textHeader {
  width: 10em;
  text-align: center;
}
.cellDead {
  width: 0.8em;
  height: 0.8em;
  background-color: rgb(41, 42, 41);
  border: rgb(70, 87, 70);
  border-style: solid;
}
.cellAlive {
  width: 0.8em;
  height: 0.8em;
  background-color: rgb(56, 70, 65);
  border: rgb(81, 109, 81);
  border-style: solid;
}
.button {
  background-color: #514343;
  width: 10em;
  height: 2em;
  text-align: center;
  cursor: pointer;
  padding: 0.2em;
  margin: 0.1em;
}
.button:hover {
  background-color: #6a5f5f;
}
